
.bg {
  margin-top: -40px;
  z-index: -1;
  width: 100%;
  /* The image used */
  background-image: url("https://uploads.lebonbon.fr/source/jehanne/avril/librairie/DSC00457_DxO_lowdef.jpg");

  
  height: 1080px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
