h2, .marge{
	margin-left: 20%;
	margin-right: 20%;
}
h1 {
  color: black;
  font-family: 'Righteous', cursive;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-align: center;
}
.marge{
	text-align: justify;
}