  #searchbar{
     
     padding:15px;
     border-radius: 10px;
     align-content: center;
   }
   input[type=text] {
      width: 30%;
    
    
   }
  
  #list{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin: 0 10%;
    justify-content: center;
   }
#list li{
	font-family: verdana;
	list-style: none;
	text-decoration: none;
	margin:  30px 30px;
  width: 280px;
  height: auto;

}
li.livres a {
    color: black;
    text-decoration: none;
}
h1 {
  color: black;
  font-family: 'Righteous', cursive;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-align: center;
}
.centre{
  display: flex;
  justify-content: center;
}