@keyframes AutoSlide {
	0%, 20%, 100% {
		left: 0px; /*1ère image*/
	}
	30%, 55% {
		left: -100%; /*2ème image*/
	}
	65%, 90% {
		left: -200%; /*3ème image*/
	}
}
@keyframes AutoSlide2 {
	0%, 20%, 100% {
		left: 0px; /*1ère image*/
	}
	30%, 55% {
		left: -100%; /*2ème image*/
	}
	65%, 90% {
		left: -200%; /*3ème image*/
	}
}
@keyframes AutoSlide3 {
	0%, 20%, 100% {
		left: 0px; /*1ère image*/
	}
	30%, 55% {
		left: -100%; /*2ème image*/
	}
	65%, 90% {
		left: -200%; /*3ème image*/
	}
}
#slider { 
	height: 500px;
	overflow: hidden;
	z-index: -1;

}
#contenu_slider2 {
	display: flex;
	list-style-type: none;
	position: relative;
	margin: 0;            
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide2;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#contenu_slider3 {
	display: flex;
	list-style-type: none;
	position: relative;
	margin: 0;            
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide3;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#contenu_slider {
	display: flex;
	list-style-type: none;
	position: relative;
	margin: 0;            
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.livretab_carousel{
  	align-items: center;
  	width: 300px;
    height: 400px;
}
.conteneur_slider{
  padding: 20px;
  margin:0;
  border: 1px solid grey;
  border-radius: 5px;
  width: 930px;
  margin: auto;
  box-shadow: 10px 10px 5px grey;
}

.presentoir_carousel{
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.presentoir_carousel p{
  margin-top: 3px;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}

.contenu_slider li{
	width: 300px;
}