/*p{font-size: 20px}*/
.vitrine_livre{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;

	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.presentoir_livre{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: lightgrey;
	flex-wrap: inherit;
	padding: 20px;

	width: 90%;
}
.flex_livre{
	margin-left: 20px;
	width: 65%;
}


.couverure_livre{
  width: 20%;
  height: auto;

}
.livretab_livre{
  width: 100%;
  height: auto;
}
h1 {
  color: black;
  font-family: 'Righteous', cursive;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-align: center;
}
.conteneur_random{
  padding: 20px;
  margin:0;
  border: 1px solid grey;
  border-radius: 5px;
  width: 930px;
  margin: auto;
  box-shadow: 10px 10px 5px grey;
  display: flex;
}
.presentoir_carousel{
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.presentoir_carousel p{
  margin-top: 3px;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
}